<!DOCTYPE html>
@inject SignInManager<IdentityUser> signInManager;

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Battleship</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            @if (signInManager.IsSignedIn(User))
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Battleship</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="GameStore" asp-action="Index">Store</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar-nav ml-auto">
                            @if (signInManager.IsSignedIn(User))
                            {
                            <li>
                                <audio id="audioControl" autoplay loop style="display:none">
                                    <source src="~/audio/music.mp3" type="audio/mp3" />
                                </audio>
                                <button id="audioButton" onclick="toggleMute()"></button>
                            </li>
                                <li class="nav-item">
                                    <form method="post" asp-action="logout" asp-controller="home">
                                        <button type="submit" id="logoutLink" class="nav-link btn btn-link py-0" style="width:auto">
                                            Logout @User.Identity.Name
                                        </button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (signInManager.IsSignedIn(User))
    {
        <footer class="border-top footer text-muted">
            <div class="container ml-auto">
                &copy; 2019 - Battleship - Eric Naegle - Chris Bordoy - Tom Nguyen
                <a asp-area="" asp-controller="Home"></a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
