
@{
    ViewData["Title"] = "HowToPlayIndex";
}

<h1>HowToPlayIndex</h1>


<body>
    This is a tutorial text


    <button onclick="goBack()">Go Back</button>
</body>

@section Scripts{
    <script src="~/js/Common.js"></script>
}