@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <p class="text-left"><b>Player View</b></p>
            <div class="card-body">
                <p class="card-text">
                    <a asp-area="" asp-controller="GameStore" asp-action="Index">Go to Store</a>
                </p>
                <p class="card-text">
                    <a asp-area="" asp-controller="HighScore" asp-action="Index">Go to HighScore Rank</a>
                </p>
                <p class="card-text">
                    <a asp-area="" asp-controller="Tutorial" asp-action="Index">Go to Tutorial</a>
                </p>
            </div>
        </div>
    </div>
</body>
