@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!doctype html>
<html lang="en">
<!-- This file represent the display for the Professor View for School of Computing-->


<body>
    <div class="container">

        <div class="card" style="width: 18rem;">
            <p class="text-left"><b>Player View</b></p>
            <div class="card-body">
                <p class="card-text">
                    <a asp-area="" asp-controller="GameStore" asp-action="Index">Go to Armory</a>
                </p>
            </div>
        </div>
      
    </div>

</body>
