<!--
    Authors: Eric Naegle, Chris Bordoy, and Tom Nguyen
    Partners: Eric Naegle, Chris Bordoy, and Tom Nguyen
    Date: 11/25/2019
    Course: CS-4540, University of Utah, School of Computing
    Copyright: CS 4540 and Eric Naegle, Chris Bordoy, and Tom Nguyen - This work may not be copied for use in Academic Coursework.

    We, Eric Naegle, Chris Bordoy, and Tom Nguyen, certify that we wrote this code from scratch and did not copy it in part or whole from another source.
    Any references used in the completion of the assignment are cited.

    The template for the main game page.
-->
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="~/images/HomePage/Control Room.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Control Room</h5>
                    <a class="btn btn-primary" asp-area="" asp-controller="GamePlay" asp-action="Index">Play Game</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="~/images/HomePage/Navy ClassRome.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tutorial</h5>
                    <a class="btn btn-primary" asp-area="" asp-controller="Tutorial" asp-action="Index">Go to Tutorial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/images/HomePage/Big Guns.jpg" alt="Card image cap">
                    <h5 class="card-title">Armory</h5>
                    <a class="btn btn-primary" asp-area="" asp-controller="GameStore" asp-action="Index">Go to Armory</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/images/HomePage/Navy ranks.jpg" alt="Card image cap">
                    <h5 class="card-title">Ranking</h5>
                    <a class="btn btn-primary" asp-area="" asp-controller="HighScore" asp-action="Index">Go to Rank System</a>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="~/js/grid.js"></script>
}
