
@{
    ViewData["Title"] = "Welcome to the Armory, Admiral";
}

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>

    </head>


<body>

    <h1>Welcome to the Armory, Admiral</h1>
    <br />

    <div id="playerIncome">
        CREDIT: $ @ViewData["UserCredit"]
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="~/images/GameStore/cannon-shot.svg" alt="Card image cap" width="128" height="128">
                <div class="card-body">
                    <h5 class="card-title">Cannon Barrge</h5>
                    <div id="power1Count">
                        Quantity = @ViewData["Power1Count"]
                    </div>
                    Cost : $10
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn-roundedbtn btn-danger" id="powerup1" onclick="purchasePowerUps(this.id)">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="~/images/GameStore/carpet-bombing.svg" alt="Card image cap" width="128" height="128">
                <div class="card-body">
                    <h5 class="card-title">Carpet Bomb</h5>
                    <div id="power2Count">
                        Quantity = @ViewData["Power2Count"]
                    </div>
                    Cost : $50
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <button class="btn-roundedbtn btn-danger" id="powerup2" onclick="purchasePowerUps(this.id)">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="~/images/GameStore/nuclear-bomb.svg" alt="Card image cap" width="128" height="128">
                <div class="card-body">
                    <h5 class="card-title">Nuke</h5>
                    <div id="power3Count">
                        Quantity = @ViewData["Power3Count"]
                    </div>
                    Cost : $100
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <button class="btn-roundedbtn btn-danger" id="powerup3" onclick="purchasePowerUps(this.id)">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
    </div>


    <button onclick="goBack()">Go Back</button>
</body>


@section Scripts{
    <script src="~/js/Store.js"></script>
    <script src="~/js/Common.js"></script>
}
