
@{
    ViewData["Title"] = "Welcome to the Armory, Admiral";
}

<head>


</head>


<body>

    <h1>Welcome to the Armory, Admiral</h1>

    <div id="playerIncome">
        $10000
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cannon Barrge</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn-roundedbtn btn-danger" onclick="purchase_power1()">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carpet Bomb</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nuke</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Power 4</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
    </div>


    <button onclick="goBack()">Go Back</button>
</body>


@section Scripts{
    <script src="~/js/Store.js"></script>
    <script src="~/js/Common.js"></script>
}
