
@{
    ViewData["Title"] = "Welcome to the Armory, Admiral";
}

<h1>Welcome to the Armory, Admiral</h1>

<body>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Power 1</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Power 2</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Power 3</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Power 4</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
                    <button class="btn-roundedbtn btn-danger">BUY<i class="fas fas fa-dollar-sign pl-1"></i></button>
                </div>
            </div>
        </div>
    </div>


</body>


@section Scripts{
    <script src="~/js/Store.js"></script>
}
