.square:hover
{
   background-color: yellow;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#battleShipsList {
    text-align: center;
    width: fit-content;
    height: fit-content;
    border: 3px solid black;
    border-radius: 13px;
    position: relative;
    top: 7em;
    left: 3em;
    padding: 8px;
}

#horizontalDisplay {
    width: 14em;
    border: 2px solid black;
    border-radius: 17px;
    position: relative;
    height: 425px;
    padding: 8px;
    top: 6em;
    left: 6em;
    text-align: center;
}

#verticalDisplay {
    width: 22em;
    border: 3px solid black;
    border-radius: 13px;
    position: relative;
    height: 311px;
    top: 9em;
    padding: 12px;
}

.rotateButton, .playButton {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px;
}

.rotateButton:hover {
    background-color: white;
    color: #008CBA;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.horizontalList {
    text-align: center;
}

.vertList { 
    display: inline-block; 
}

.vertList:nth-child(5):after {
    content:"\A";
}

#battleShipsListHeader {
    font-size: 30px;
}

.battleshipImage {
    z-index: 5;
    position: relative;
}

#cruiserImage, #raiderImage {
    width: 95px;
    height: 50px;
}

#cruiserImage {
    padding-bottom: 2px;
}

#raiderImage {
    padding: 3px 0 0 6px;
}

#destroyerImage {
    padding-top: 4px;
    width: 149px;
    height: 50px;
}

#battleshipImage {
    width: 200px;
    height: 50px;
}

#aircraftCarrierImage {
    width: 195px;
    height: 100px;
    padding: 3px 0 0 2px;
}

#cruiserImage90, #raiderImage90 {
    width: 50px;
    height: 100px;
    padding-right: 2px;
}

#destroyerImage90 {
    padding-left: 2px;
    width: 48px;
    height: 150px;
}

#battleshipImage90 {
    width: 50px;
    height: 200px;
}

#aircraftCarrierImage90 {
    width: 100px;
    height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    padding: 0;
    text-align: center;
}

#playerGrid, #AIGrid {
    top: 5rem;
    left: 4rem;
    outline: 2px solid #000;
    font-size: 0;
    margin: 20px;
    height: 500px;
    width: 500px;
    padding: 0;
    border: none;
    background-color: aqua;
    z-index: 1;
}

.Player_Cell, .AI_Cell {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
}

.AI_Cell:hover{
    background-color:aquamarine;
    cursor: url('../images/aim.png') 16 16 ,auto;
}
