
@{
    ViewData["Title"] = "GamePlayViewPage";
}
<head>
    <link rel="stylesheet" href="~/css/GameView.css">
</head>


<body>
    <h1>GameViewPage</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-auto">
                <div id="playerGrid">
                </div>
            </div>
            <div class="col-lg-auto">
                <div id="AIGrid">
                </div>
            </div>
        </div>
    </div>




</body>

@section Scripts{
    <script src="~/js/Game.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/grid.js"></script>
    <script src="~/js/AI.js"></script>
}