
@{
    ViewData["Title"] = "GamePlayViewPage";
}
<head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>


<body>
    <h1>GameViewPage</h1>

    <div id="container">

    </div>

    <div id="grid">


    </div>

    <div id="grid">


    </div>
    <script src="~/js/grid.js" type="text/javascript"></script>

</body>

@section Scripts{
    <script src="~/js/Game.js"></script>
    <script src="~/js/Common.js"></script>
}