
@{
    ViewData["Title"] = "GamePlayViewPage";
}
<head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>


<body>
    <h1>GameViewPage</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-auto">
                <div id="grid">


                </div>
            </div>
            <div class="col-lg-auto">
                <div id="gridAI">


                </div>
            </div>
        </div>
    </div>



 

</body>

@section Scripts{
    <script src="~/js/Game.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/grid.js"></script>
    <script src="~/js/AI.js"></script>
}